html {
  scroll-behavior: smooth;
  font-size: 0.7vh;
}

/* Hide scrollbars while maintaining scroll functionality */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

body {
  margin: 0px;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

p {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

.round-button {
  text-decoration: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  min-height: 80px;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  animation: blinkOpacity 3s infinite;
  margin-top: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.spectrum--darkest .round-button {
  box-shadow: none;
  background-color: rgb(36, 36, 36);
}

@keyframes blinkOpacity {
  0%,
  100% {
    opacity: 1; /* Fully opaque at the start and end */
  }
  50% {
    opacity: 0.2; /* Less opaque at the midpoint */
  }
}

/* ---------- Main ---------- */

main {
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  /* padding: 40px; */
  margin-top: 75px;
}

:root {
  --header-height: 42px;
}

@media (max-width: 600px) {
  main {
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 20px;
  }
  :root {
    --header-height: 32px;
  }
}

.site--app {
  overflow: hidden;
}

.spectrum--darkest {
  background-color: rgb(27, 27, 27);
}

.spectrum--light {
  background-color: white;
}

.info {
  font-weight: bold;
}

/* strong {
  color: rgb(237, 78, 59) !important;
} */

/* ---------- Nav ---------- */

.sidenav {
  width: 320px;
  background: var(--spectrum-global-color-gray-200);
  box-sizing: border-box;
  padding: 0 24px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  display: block;
}

.spectrum-SideNav-item {
  list-style-type: none;
  margin-top: var(--spectrum-sidenav-item-gap, var(--spectrum-global-dimension-size-50));
  margin-bottom: var(--spectrum-sidenav-item-gap, var(--spectrum-global-dimension-size-50));
  margin-left: 0;
  margin-right: 0;
}

.spectrum-SideNav-itemLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  width: 100%;
  min-height: var(--spectrum-sidenav-item-height, var(--spectrum-alias-single-line-height));
  padding-left: var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));
  padding-right: var(--spectrum-sidenav-item-padding-x, var(--spectrum-global-dimension-size-150));
  padding-top: var(--spectrum-sidenav-item-padding-y);
  padding-bottom: var(--spectrum-sidenav-item-padding-y);
  border-radius: var(
    --spectrum-sidenav-item-border-radius,
    var(--spectrum-alias-border-radius-regular)
  );
  font-size: var(--spectrum-sidenav-item-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(
    --spectrum-sidenav-item-text-font-weight,
    var(--spectrum-global-font-weight-regular)
  );
  font-style: normal;
  text-decoration: none;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  cursor: pointer;
  transition: background-color var(--spectrum-global-animation-duration-100, 0.13s) ease-out,
    color var(--spectrum-global-animation-duration-100, 0.13s) ease-out;
}

.spectrum-SideNav-itemLink:focus {
  outline: none;
}

.spectrum-SideNav-itemLink:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border: var(--spectrum-alias-focus-ring-size, var(--spectrum-global-dimension-static-size-25))
    solid transparent;
  border-radius: var(
    --spectrum-sidenav-item-border-radius,
    var(--spectrum-alias-border-radius-regular)
  );
  transition: border var(--spectrum-global-animation-duration-100, 0.13s) ease-out;
}

.spectrum-SideNav-item:hover {
  background-color: var(
    --spectrum-sidenav-item-background-color-hover,
    var(--spectrum-alias-highlight-hover)
  );
  color: var(--spectrum-sidenav-item-text-color-hover, var(--spectrum-alias-text-color-hover));
}

/* @media (max-width: 1200px) { */
.sidenav {
  z-index: 100;
  visibility: hidden;
  outline: 0;
  transition: transform 0.2s, visibility 0s 0.2s;
  position: fixed;
  inset: 0 100% 0 auto;
}
.sidenav-visible {
  visibility: unset;
  transition-delay: 0s;
  transform: translate(100%);
}
/* } */

/* ---------- Alert Pages ---------- */

.doge {
  width: 100%;
  height: 80vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* ----------  ---------- */

.pageHeader {
  border-bottom: 1px solid var(--spectrum-global-color-gray-200);
  background: var(--page-background);
  z-index: 50;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: rgb(29, 29, 29);
  position: fixed;
  height: var(--header-height);
}

.pageHeader h1 {
  margin: 0px;
  cursor: pointer;
}

.spectrum--light .pageHeader {
  background-color: white;
}

.toggle {
  margin-right: 40px;
}

.brand {
  padding-right: 50px;
  padding-left: 50px;
  letter-spacing: 12px;
}

footer {
  border-top: 1px solid var(--spectrum-global-color-gray-200);
  background: var(--page-background);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: rgb(29, 29, 29);
}

footer span {
  padding: 10px;
}

footer span {
  padding: 10px;
}

.spectrum--light footer {
  background-color: white;
}

/* ---------- basic overrides ---------- */

button:hover {
  cursor: pointer;
}

[class*='spectrum-Link'] {
  text-decoration: none !important;
}

[class*='spectrum-Link']:hover {
  text-decoration: underline !important;
}

code {
  background-color: rgb(230, 230, 230);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(124, 159, 60);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.spectrum--darkest code {
  color: rgb(179, 224, 83);
  background-color: rgb(35, 36, 31);
}

h1 > code {
  color: inherit !important;
  background-color: inherit !important;
}

pre {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: left;
}

.spectrum--darkest pre {
  background-color: rgb(35, 36, 31);
}

hr {
  width: 100%;
  border: none !important;
  height: 2px !important;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.spectrum--light hr {
  color: rgb(230, 230, 230); /* old IE */
  background-color: rgb(230, 230, 230); /* Modern Browsers */
}

/* ------------- Ice Cube Background ------------- */
.kk-bubble-background {
  /* height: 100%; */
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 99; */
  text-align: center;
}

.a-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
}

.a-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(135, 206, 235, 0.6); /* Light blue */
  top: -100px;
  border-radius: 0.417vw; /* More angular for ice cubes */
  /* transition-timing-function: linear; */
}

.a-bubbles li:nth-child(1) {
  width: 2.083vw;
  height: 2.083vw;
  left: 20%;
  animation: fall 9s infinite linear;
  background-color: rgba(70, 130, 180, 0.6); /* Steel blue */
}

.a-bubbles li:nth-child(2) {
  width: 3.125vw;
  height: 3.125vw;
  left: 40%;
  animation: fall-reverse 9s infinite linear;
  animation-delay: 1s;
  background-color: rgba(100, 149, 237, 0.6); /* Cornflower blue */
}

.a-bubbles li:nth-child(3) {
  width: 3.646vw;
  height: 3.646vw;
  left: 30%;
  animation: fall-slow 9s infinite linear;
  animation-delay: 2s;
  background-color: rgba(30, 144, 255, 0.6); /* Dodger blue */
}

.a-bubbles li:nth-child(4) {
  width: 1.563vw;
  height: 1.563vw;
  left: 80%;
  animation: fall-slow-reverse 9s infinite linear;
  animation-delay: 2.5s;
  background-color: rgba(0, 191, 255, 0.6); /* Deep sky blue */
}

.a-bubbles li:nth-child(5) {
  width: 3.125vw;
  height: 3.125vw;
  left: 50%;
  animation: fall-reverse 9s infinite linear;
  animation-delay: 4s;
  background-color: rgba(64, 164, 223, 0.6); /* Sky blue */
}

.a-bubbles li:nth-child(6) {
  width: 1.563vw;
  height: 1.563vw;
  left: 70%;
  animation: fall 9s infinite linear;
  animation-delay: 5s;
  background-color: rgba(52, 152, 219, 0.6); /* Medium blue */
}

.a-bubbles li:nth-child(7) {
  width: 2.604vw;
  height: 2.604vw;
  left: 10%;
  animation: fall-slow-reverse 9s infinite linear;
  animation-delay: 5.5s;
  background-color: rgba(41, 128, 185, 0.6); /* Darker blue */
}

.a-bubbles li:nth-child(8) {
  width: 3.646vw;
  height: 3.646vw;
  left: 40%;
  animation: fall-slow 9s infinite linear;
  animation-delay: 6s;
  background-color: rgba(65, 105, 225, 0.6); /* Royal blue */
}

@keyframes fall {
  0% {
    -webkit-transform: translateY(-100px) rotate(0deg);
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100px)) rotate(800deg);
    transform: translateY(calc(100vh + 100px)) rotate(800deg);
  }
}

@keyframes fall-reverse {
  0% {
    -webkit-transform: translateY(-100px) rotate(0deg);
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100px)) rotate(-800deg);
    transform: translateY(calc(100vh + 100px)) rotate(-800deg);
  }
}

@keyframes fall-slow {
  0% {
    -webkit-transform: translateY(-100px) rotate(0deg);
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100px)) rotate(400deg);
    transform: translateY(calc(100vh + 100px)) rotate(400deg);
  }
}

@keyframes fall-slow-reverse {
  0% {
    -webkit-transform: translateY(-100px) rotate(0deg);
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100px)) rotate(-400deg);
    transform: translateY(calc(100vh + 100px)) rotate(-400deg);
  }
}

/* ---------- Eyes Blinking ----------  */
/* Eye blinking animation is handled via SVG <animate> elements in ServoFace.jsx for Safari compatibility */

/* Card */

.card {
  background-color: white;
  border: 1px solid #eaeaea;
  /* opacity: 0.95; */
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  border: none;
  /* overflow: scroll; */
  background-color: rgba(255, 255, 255, 0.2);
}

.card-content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card-content::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

.card iframe {
  min-height: 70vh; /* adjust as needed */
  flex-grow: 1; /* allows the item to grow to fill available space */
  /* other styling as needed */
}

@media (max-width: 600px) {
  .card-content {
    width: 90%;
  }
}

.spectrum--darkest .card {
  background-color: rgba(27, 27, 27, 0.2);
  color: white;
  border: none;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.landing-face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  /* width: calc(100vw - 80px); */
}

.card-image {
  height: 70vh;
  width: auto;
}

@media (max-width: 1200px) {
  .card-image {
    width: 100%;
    height: auto;
  }
}

/* ------------- Carousel ------------- */
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* text-align: center; */
  /* display: flex; */
  max-width: 800px;
  height: calc(65vh);
}

@media (max-width: 600px) {
  .carousel {
    height: calc(70vh);
  }
}

.carousel img {
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  max-width: 800px;
  border-radius: 10px;
}

.carousel img.active {
  opacity: 1;
}

img {
  border-radius: 10px;
}

h1 {
  letter-spacing: 5px;
  font-size: 4.63rem;
}

.information {
  background-color: white;
  border: 1px solid #eaeaea;
  opacity: 0.95;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
}

/* -------------------- T O O L   T I P  -------------------- */

.ml-1 {
  margin-left: 1rem;
}

.infoIcon {
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid #3e6ae1;
  font-weight: bold;
  font-size: 1.111rem;
  background-color: #3e6ae1;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .infoIcon {
    cursor: inherit;
  }
}

.info {
  margin-top: -2px;
}

.ant-popover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.296rem;
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  padding-bottom: 10px;
  font-weight: 500;
}

.ant-popover-title {
  padding: 5px 16px 4px;
  border-bottom: 1px solid #e8e8e8;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ant-popover-arrow {
  position: absolute;
  display: block;
  width: 8.48528137px;
  height: 8.48528137px;
  background: transparent;
  border-style: solid;
  /* border-width: 4.24264069px; */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  background-color: #fff;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  bottom: 6.2px;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  -webkit-box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
  box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
}

.theme-dark .ant-popover-arrow {
  border-right-color: #464343;
  border-bottom-color: #464343;
  border: none;
  background-color: rgb(33, 33, 33);
  background-color: rgb(58, 60, 64);
}

.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
}

.theme-dark .ant-popover-inner {
  border: none;
  background-color: rgb(58, 60, 64);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}

.ant-popover-inner-content {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.65);
}

.theme-dark .ant-popover-inner-content {
  color: white;
}

.status-message {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 800px;
  font-weight: 500;
}

.theme-dark .status-message {
  background-color: rgb(33, 33, 33);
}

@media only screen and (max-width: 768px) {
  .status-message {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .not-mobile {
    display: none !important;
  }
}

.big-text {
  font-size: 4.63rem;
}